<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyg.dao.DiaryMapper" >
 
  <cache eviction="FIFO" flushInterval="600000" size="512" readOnly="true"/>

  <resultMap id="BaseResultMap" type="com.lyg.entitys.Diary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="is_used" property="isUsed" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, content, add_time, update_time, is_used
  </sql>
  
  <!-- 根据id查询  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from diary
    where id = #{id,jdbcType=INTEGER} and is_used =1
  </select>
  <!-- 查询所有的 -->
    <select id="queryAllDiary" resultMap="BaseResultMap" parameterType="com.lyg.entitys.Diary" >
    select 
    <include refid="Base_Column_List" />
    from diary
    where 1=1 and is_used =1 
    <if test="addTime != null" >
       and add_time =  #{addTime,jdbcType=VARCHAR}
    </if>
    <if test="content != null" >
       and content =  #{content,jdbcType=VARCHAR}
    </if>
    ORDER BY add_time DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from diary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lyg.entitys.Diary" >
    insert into diary (id, user_id, content, 
      add_time, update_time, is_used
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, #{isUsed,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lyg.entitys.Diary" >
    insert into diary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isUsed != null" >
        is_used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        #{isUsed,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyg.entitys.Diary" >
    update diary
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null" >
        is_used = #{isUsed,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyg.entitys.Diary" >
    update diary
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 删除日记 -->
  <update id="deleteDiaryById" parameterType="java.lang.Integer">
      update diary d set d.is_used = 0 where d.id=#{id,jdbcType=INTEGER}
  </update>
  
</mapper>